/* ------------------ Global */

@font-face {
    font-family: "Tauri";
    src: url("./assets/Tauri-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Tauri", sans-serif;
    font-size: 18px;
    color: #4b4b4b;
    --sidebar-width: 3rem;
    --sidebar-gap: 0.4rem;
    --general-spacing: 1rem;
    user-select: none;
}

html,
body,
#root,
.app {
    height: 100%;
}

#root {
    background-color: #1c1c1c;
}

.app {
    position: relative;
    max-width: 60rem;
    margin: auto;
}

.app-side-bar {
    position: absolute;
    top: var(--general-spacing);
    left: var(--general-spacing);
    width: var(--sidebar-width);
    height: calc(100% - 2 * var(--general-spacing));
    background-color: #a0a0a0;
    border-radius: var(--general-spacing);
    z-index: 10;
    box-shadow: 0 0 1rem 0.2rem rgb(60, 60, 60);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--sidebar-gap) * 2);
    padding-top: calc(2 * var(--sidebar-gap));
}

.app-side-bar ._option {
    width: calc(var(--sidebar-width) - 2 * var(--sidebar-gap));
    height: calc(var(--sidebar-width) - 2 * var(--sidebar-gap));
    padding: 0.4rem;
    border-radius: calc(var(--sidebar-gap) * 4);
    background-color: #dbdbdb;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.35);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.app-side-bar ._option:hover {
    background-color: #ececec;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.55);
}

.app-content {
    position: absolute;
    top: var(--general-spacing);
    right: var(--general-spacing);
    bottom: var(--general-spacing);
    width: calc(100% - var(--sidebar-width) - 3 * var(--general-spacing));
}
